<div class="display">
    <div>
        <i (click)="load()" class="fas fa-upload appear"   style="margin-top: 7px; color: silver; margin-left: 2px;"  ></i>
        <div class="hide" style="border: 1px solid black ;width: 50px; position: fixed; z-index: 1000000;  ">
            load (ctrl+L)
           </div>
     </div>
     <div >
        <img (click)="download()" class="appear" style="margin-top: 5px;" src="assets/photos/save.PNG">
        <div class="hide" style="border: 1px solid black ;width: 50px; position: fixed; z-index: 1000000;  ">
            save as PNG
           </div>
    </div>
    <div >
        <img (click)="save()" class="appear" style="margin-top: 5px;" src="assets/photos/save.PNG">
        <div class="hide" style="border: 1px solid black ;width: 50px; position: fixed; z-index: 1000000;  ">
            save (ctrl+s)
           </div>
    </div>
    <div>
        <img (click)="redo()"  class="appear" style="margin-top: 1px;" src="assets/photos/redo.PNG">
        <div  class="hide" style="border: 1px solid black ;width: 50px; position: fixed; z-index: 1000000;  ">
            redo (ctrl+y)
           </div>
    </div>
     <div>
        <img (click)="undo()" src="assets/photos/undo.PNG" class="appear" style="margin-top: 2px;">
        <div class="hide" style="border: 1px solid black ;width: 50px; position: fixed; z-index: 1000000;  ">
            undo (ctrl+z)
           </div>
     </div>
    
   
</div>
<div class="display" >
     <div class="section display">
      <div class="font"> 
        <button (click)="paste()" class="button">
           <i id="paste" class="fas fa-paste "></i>
           <p>paste</p>
        </button>
           <div class="display">
               <div>
                <button    style="width: 30px; height: 25px; margin-top: 10px; "  [style.background]="color"
                ></button>
                <p > color</p>
               </div>
               <div>
               
                <div class="section7" style="margin-top: 80px;">
                
                    <div   >
                        <div class="custom-context"  #menu>
                              <ul>
                                  <li (click)="copy()" (click) ="disappear()">  <i id="copy2"  class="fas fa-copy "></i> copy </li>
                                  <li (click)="paste()" (click) ="disappear()" >  <i id="paste2" class="fas fa-paste "></i> paste</li>
                                  <li (click)='remove()'  (click) ="disappear()">  <i id="delete2"  class="fas fa-eraser "></i> delete</li>
                              </ul>
                    
                        </div>
                    </div>

                    <div  (click) ="disappear()"  (contextmenu)="contextMenu($event)" id="container">
                       
                    </div>
                </div>
               </div>
               
           </div>
         
         </div>
     <div class="font"> 
         <button id="copyButton" (click)="copy()" class="button">
            <i id="copy" class="fas fa-copy"></i>
            <p>copy</p>

         </button>

        <div style="margin-top: 15px;" class="dropdown">
            <button class="dropbtn">{{stroke}}
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <button style="border: black; height:1px ;" (click)=' strkewidth(1)' (click)='changeline()' value="1" href="#">1</button>
              <button style="border: black; height:1px"(click)=' strkewidth(2)' (click)='changeline()' value="2" > 2</button>
              <button style="border: black; height:1px" (click)=' strkewidth(3)' (click)='changeline()' value="3" > 3</button>
              <button style="border: black; height:1px" (click)=' strkewidth(4)' (click)='changeline()' value="4" > 4</button>
              <button style="border: black; height:1px" (click)=' strkewidth(5)' (click)='changeline()' value="5" > 5</button>
              <button style="border: black; height:1px" (click)=' strkewidth(6)' (click)='changeline()' value="6" > 6</button>
              <button style="border: black ; height:1px" (click)=' strkewidth(7)' (click)='changeline()' value="7" > 7</button>
              <button style="border: black; height:1px" (click)=' strkewidth(8)' (click)='changeline()' value="8" > 8</button>
              <button style="border: black; height:1px" (click)=' strkewidth(9)' (click)='changeline()' value="9" > 9</button>
              <button style="border: black; height:1px" (click)=' strkewidth(10)' (click)='changeline()' value="10" > 10</button>
              <button style="border: black; height:1px" (click)=' strkewidth(11)' (click)='changeline()' value="11" > 11</button>
              <button style="border: black; height:1px" (click)=' strkewidth(12)' (click)='changeline()' value="12" > 12</button>
              <button style="border: black; height:1px" (click)=' strkewidth(13)' (click)='changeline()' value="13" > 13</button>
              <button style="border: black; height:1px" (click)=' strkewidth(14)' (click)='changeline()' value="14" > 14</button>
              <button style="border: black; height:1px" (click)=' strkewidth(15)' (click)='changeline()' value="15" > 15</button>
              <button style="border: black; height:1px" (click)=' strkewidth(16)' (click)='changeline()' value="16" > 16</button>
              <button style="border: black; height:1px" (click)=' strkewidth(17)' (click)='changeline()' value="17" > 17</button>
              <button style="border: black; height:1px" (click)=' strkewidth(18)' (click)='changeline()' value="18" > 18</button>
              <button style="border: black; height:1px" (click)=' strkewidth(19)' (click)='changeline()' value="19" > 19</button>
              <button style="border: black; height:1px" (click)=' strkewidth(20)' (click)='changeline()' value="20" > 20</button>
            </div>
          </div>
     <p style="margin-bottom: 15px;">stroke</p>
    </div>
       
        <div class="section4" >

        </div>
     </div>
    
     
     <div class="section2">
        <div class="section3 display">
                <div>
                
                <button (click)='remove()' style="margin-top: 15px;" class="button">
                    <i id="delete" class="fas fa-eraser " style="margin-top: 25px;" ></i>
                    <p>Delete
                        (del)</p>
                </button>

                </div>
         
         
         
       
       <div >
        <button (click)="fill()" style="margin-top: 15px;" class="button">
            <i id="fill" style="margin-top: 25px; margin-left: 10px;" class="fas fa-fill"></i>
            <p style="margin-left: 10px;" >fill
            (f)</p>
        </button>

        <p style="margin-top: 10px; " >Tools</p>
       </div> 

        <div>
            <button (click)='changeDrawMode()' style="margin-top: 15px;" class="button" id="draw">
            <i class="fas fa-pen " style="color:orange; margin-top: 25px; margin-left: 5px;" ></i>
            <p style="margin-left: 5px;" >Draw (d)</p>

            </button>
        
       </div>
       <div class="section5" style="margin-left: 10px;">

       </div>
         <div class="display">
             <div>
                 <img class="appear"  (click)='create("square")' src="assets/photos/square.PNG" style="margin-top:18px;">
                 <div class="hide" style="border: 1px solid black ;width: 60px; position: fixed; z-index: 1000000;  ">
                    square(s)
                   </div>
                  <div>
                    <img class="appear" (click)='create("line")' src="assets/photos/line2.PNG" style="margin-top:15px ; margin-left: 3px;">
                    <div class="hide" style="border: 1px solid black ;width: 40px; position: fixed; z-index: 1000000;  ">
                        line(L)
                       </div>
                  </div>
           </div>
            <div> <img class="appear" (click)='create("rectangle")' src="assets/photos/rectangle.PNG" style="margin-top:18px ; margin-left: 8px;">
                <div class="hide" style="border: 1px solid black ;width: 75px; position: fixed; z-index: 1000000;  ">
                    rectangle(r)
                   </div>
                <div><img class="appear" (click)='create("circle")' src="assets/photos/circle.PNG" style="margin-top:15px ; margin-left: 8px;">
                    <div class="hide" style="border: 1px solid black ;width: 50px; position: fixed; z-index: 1000000;  ">
                        circle(c)
                       </div>
                    <div>
                        <P>Shapes</P>
                    </div>
                </div>
               
            </div>
            <div> <img class="appear" (click)='create("triangle")' src="assets/photos/triangle2.PNG" style="margin-top:17px ; ">
                <div class="hide" style="border: 1px solid black ;width: 65px; position: fixed; z-index: 1000000;  ">
                    triangle(t)
                   </div>
                <div>
                    <img class="appear" (click)='create("ellipse")' src="assets/photos/ellipse.PNG" style="margin-top:11px ;">
                    <div class="hide" style="border: 1px solid black ;width: 60px; position: fixed; z-index: 1000000;  ">
                        ellipse(e)
                       </div>
                  </div>
            </div>
         </div>
         
         <div class="section5 " style="margin-left: 10px;">
          
        </div>
        
        <div class="display">
            <div class="cen">
                
                <button (click)='colour("white")' class="section9 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 40px; position: fixed; z-index: 1000000;  ">
                    white
                   </div>
                <button (click)='colour( "transparent")' class="section14 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 70px; position: fixed; z-index: 1000000;  ">
                    transparent
                   </div>
                <button (click)='colour("powderblue")' class="section27 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 80px; position: fixed; z-index: 1000000;  ">
                    powderblue
                   </div>
            </div>
            <div class="cen">
                
                <button  (click)='colour("black")' (click)='changecolr() ' class="section8 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 40px; position: fixed; z-index: 1000000;  ">
                    black
                   </div>
                <button (click)='colour("blue")'(click)='changecolr()' class="section15 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 30px; position: fixed; z-index: 1000000;  ">
                    blue
                   </div>
                <button (click)='colour("orange")' (click)='changecolr()' class="section28 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 40px; position: fixed; z-index: 1000000;  ">
                    orange
                   </div>
            </div>
            <div class="cen">
                
                <button (click)='colour("red")' (click)='changecolr()' class="section10 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 20px; position: fixed; z-index: 1000000;  ">
                    red
                   </div>
                <button (click)='colour("rosybrown")' (click)='changecolr()' class="section20 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 69px; position: fixed; z-index: 1000000;  ">
                    rosybrown
                   </div>
                <button (click)='colour("orangered")' (click)='changecolr()' class="section29 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 65px; position: fixed; z-index: 1000000;  ">
                    orangered
                   </div>
                
            </div>
            <div class="cen">
                
                <button (click)='colour("yellow")' (click)='changecolr()' class="section11 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 50px; position: fixed; z-index: 1000000;  ">
                    yellow
                   </div>
                <button  (click)='colour("royalblue")' (click)='changecolr()' class="section21 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 60px; position: fixed; z-index: 1000000;  ">
                    royalblue
                   </div>
                <button (click)='colour("orchid")' (click)='changecolr()' class="section30 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 40px; position: fixed; z-index: 1000000;  ">
                    orchid
                   </div>
                
            </div>
            <div class="cen">
                
                <button (click)='colour("green")' (click)='changecolr()' class="section12 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 40px; position: fixed; z-index: 1000000;  ">
                    green
                   </div>
                <button (click)='colour("aliceblue")' (click)='changecolr()' class="section37 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 60px; position: fixed; z-index: 1000000;  ">
                    aliceblue
                   </div>
                <button (click)='colour("olive")' (click)='changecolr()' class="section31 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 35px; position: fixed; z-index: 1000000;  ">
                    olive
                   </div>
            </div>
            <div class="cen">
                
                <button (click)='colour("brown")' (click)='changecolr()' class="section13 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 40px; position: fixed; z-index: 1000000;  ">
                    brown
                   </div>
                <button (click)='colour("turquoise")' (click)='changecolr()' class="section22 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 60px; position: fixed; z-index: 1000000;  ">
                    turquoise
                   </div>
                <button (click)='colour("oldlace")' (click)='changecolr()' class="section32 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 50px; position: fixed; z-index: 1000000;  ">
                    oldlace
                   </div>
                
            </div>
            <div class="cen">
                
                <button (click)='colour("tomato")' (click)='changecolr()' class="section16 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 40px; position: fixed; z-index: 1000000;  ">
                    tomato
                   </div>
                <button (click)='colour("thistle")' (click)='changecolr()' class="section23 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 40px; position: fixed; z-index: 1000000;  ">
                    thistle
                   </div>
                <button (click)='colour("chocolate")' (click)='changecolr()' class="section33 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 60px; position: fixed; z-index: 1000000;  ">
                    chocolate
                   </div>
                
            </div>
            <div class="cen">
                
                <button (click)='colour("teal")' (click)='changecolr()' class="section17 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 30px; position: fixed; z-index: 1000000;  ">
                    teal
                   </div>
                <button (click)='colour("pink")' (click)='changecolr()' class="section24 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 30px; position: fixed; z-index: 1000000;  ">
                    pink
                   </div>
                <button (click)='colour("cornflowerblue")' (click)='changecolr()' class="section34 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 100px; position: fixed; z-index: 1000000;  ">
                    cornflowerblue
                   </div>
            </div>
            
            <div class="cen">
                
                <button (click)='colour("lemonchiffon ")' (click)='changecolr()' class="section18 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 85px; position: fixed; z-index: 1000000;  ">
                    lemonchiffon
                   </div>
                <button (click)='colour("palegreen")' (click)='changecolr()' class="section25 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 60px; position: fixed; z-index: 1000000;  ">
                    palegreen
                   </div>
                <button (click)='colour("chartreuse")' (click)='changecolr()' class="section35 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 70px; position: fixed; z-index: 1000000;  ">
                    chartreuse
                   </div>
                
            </div>
            <div class="cen">
                
                <button (click)='colour("aqua ")' (click)='changecolr()' class="section19 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 30px; position: fixed; z-index: 1000000;  ">
                    aqua
                   </div>
                <button (click)='colour("peru")' (click)='changecolr()' class="section26 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 30px; position: fixed; z-index: 1000000;  ">
                    peru
                   </div>
                <button  (click)='colour("crimson")' (click)='changecolr()' class="section36 appear"></button>
                <div class="hide" style="border: 1px solid black ;width: 50px; position: fixed; z-index: 1000000;  ">
                    crimson
                   </div>
                
            </div>          
            <div>
                <form action="">
                    <div class="form-group">
                        <img (colorPickerChange)='changecolr()' src="assets/photos/colors.PNG"  [(colorPicker)]="color" style="margin-top:20px ; margin-left: 20px;">
                      
                    </div>
                </form>
                <router-outlet></router-outlet> 
                <P style="margin-left: 10px;">Edit color</P>
            </div>
            <div class="section5 " style="margin-left: 20px;">
                
            </div>
        
        </div>
    </div>
 
    
    
</div>



