<div class="display">
    <img src="assets/photos/draw.PNG">
    <img src="assets/photos/save.PNG">
    <img src="assets/photos/redo.PNG">
    <img src="assets/photos/undo.PNG" style="margin-top: 2px;">
</div>
<div class="display" >
     <div class="section display">
      <div class="font">  <i class="fas fa-paste "></i>
           <p>paste</p>
           <div class="display">
               <div>
                <button  (click)='changecolr()'  style="width: 50px; height: 25px; margin-top: 10px; margin-left: 20px;"  [style.background]="color"
                ></button>
                <p style="margin-left: 30px;"> color</p>
               </div>
               <div>
               
                <div class="section7" style="margin-top: 80px;">
                
                    <div id="container">
                        
                    </div>
                </div>
               </div>
               
           </div>
         
         </div>
     <div class="font"> <i class="fas fa-copy "></i>
        <p>copy</p>
      
    </div>
       
        <div class="section4" >

        </div>
     </div>
    
     
     <div class="section2">
        <div class="section3 display">
         <div ><i (click)='remove()' class="fas fa-eraser " style="color:orange; margin-top: 25px;" ></i>
         <p>Delete</p>
         
         
         
       </div>
       <div >
        <i style="margin-top: 25px; color:orange; margin-left: 10px;" (click)="fill()" class="fas fa-fill"></i>
        <p style="margin-left: 10px;" >fill</p>
        <p style="margin-top: 30px; " >Tools</p>
       </div>      
          <div> <i (click)='changeDrawMode()' class="fas fa-pen " style="color:orange; margin-top: 25px; margin-left: 5px;" ></i>
          <p (click)='changeDrawMode()' style="margin-left: 5px;" >Draw</p>
        
       </div>
       <div class="section5" style="margin-left: 10px;">

       </div>
         <div class="display">
             <div>
                 <img  (click)='create("square")' src="assets/photos/square.PNG" style="margin-top:18px;">
                
                  <div>
                    <img (click)='create("line")' src="assets/photos/line2.PNG" style="margin-top:15px ; margin-left: 3px;">
                  </div>
           </div>
            <div> <img (click)='create("rectangle")' src="assets/photos/rectangle.PNG" style="margin-top:18px ; margin-left: 8px;">
                <div><img (click)='create("circle")' src="assets/photos/ellipse.PNG" style="margin-top:15px ; margin-left: 8px;">

                    <div>
                        <P>Shapes</P>
                    </div>
                </div>
               
            </div>
            <div> <img (click)='create("triangle")' src="assets/photos/triangle2.PNG" style="margin-top:17px ; ">
                <div>
                    <img (click)='create("ellipse")' src="assets/photos/ellipse.PNG" style="margin-top:11px ;">
                  
                  </div>
            </div>
         </div>
         
         <div class="section5 " style="margin-left: 10px;">
          
        </div>
        
        <div class="display">
            <div class="cen">
                
                <button (click)='colour("white")' class="section9"></button>
                <button (click)='colour( "blueviolet")' class="section14"></button>
                <button (click)='colour("powderblue")' class="section27"></button>
                
            </div>
            <div class="cen">
                
                <button  (click)='colour("black")' (click)='changecolr()' class="section8"></button>
                <button (click)='colour("blue")'(click)='changecolr()' class="section15"></button>
                <button (click)='colour("orange")' (click)='changecolr()' class="section28"></button>
                
            </div>
            <div class="cen">
                
                <button (click)='colour("red")' (click)='changecolr()' class="section10"></button>
                <button (click)='colour("rosybrown")' (click)='changecolr()' class="section20"></button>
                <button (click)='colour("orangered")' (click)='changecolr()' class="section29"></button>
                
            </div>
            <div class="cen">
                
                <button (click)='colour("yellow")' (click)='changecolr()' class="section11"></button>
                <button  (click)='colour("royalblue")' (click)='changecolr()' class="section21"></button>
                <button (click)='colour("orchid")' (click)='changecolr()' class="section30"></button>
                
            </div>
            <div class="cen">
                
                <button (click)='colour("green")' (click)='changecolr()' class="section12"></button>
                <button (click)='colour("aliceblue")' (click)='changecolr()' class="section37"></button>
                <button (click)='colour("olive")' (click)='changecolr()' class="section31"></button>
                
            </div>
            <div class="cen">
                
                <button (click)='colour("brown")' (click)='changecolr()' class="section13"></button>
                <button (click)='colour("turquoise")' (click)='changecolr()' class="section22"></button>
                <button (click)='colour("oldlace")' (click)='changecolr()' class="section32"></button>
                
            </div>
            <div class="cen">
                
                <button (click)='colour("tomato")' (click)='changecolr()' class="section16"></button>
                <button (click)='colour("thistle")' (click)='changecolr()' class="section23"></button>
                <button (click)='colour("chocolate")' (click)='changecolr()' class="section33"></button>
                
            </div>
            <div class="cen">
                
                <button (click)='colour("teal")' (click)='changecolr()' class="section17"></button>
                <button (click)='colour("pink")' (click)='changecolr()' class="section24"></button>
                <button (click)='colour("cornflowerblue")' (click)='changecolr()' class="section34"></button>
                
            </div>
            
            <div class="cen">
                
                <button (click)='colour("lemonchiffon ")' (click)='changecolr()' class="section18"></button>
                <button (click)='colour("palegreen")' (click)='changecolr()' class="section25"></button>
                <button (click)='colour("chartreuse")' (click)='changecolr()' class="section35"></button>
                
            </div>
            <div class="cen">
                
                <button (click)='colour("aqua ")' (click)='changecolr()' class="section19"></button>
                <button (click)='colour("peru")' (click)='changecolr()' class="section26"></button>
                <button  (click)='colour("crimson")' (click)='changecolr()' class="section36"></button>
                
            </div>          
            <div>
                <form action="">
                    <div class="form-group">
                        <img src="assets/photos/colors.PNG"  [(colorPicker)]="color" style="margin-top:20px ; margin-left: 20px;">
                      
                    </div>
                </form>
                <router-outlet></router-outlet> 
                <P style="margin-left: 10px;">Edit color</P>
            </div>
            <div class="section5 " style="margin-left: 20px;">
               
            </div>
        
        </div>
    </div>
 
    
    
</div>



