<div class="display">
    <img src="assets/photos/draw.PNG">
    <img src="assets/photos/save.PNG">
    <img src="assets/photos/redo.PNG">
    <img src="assets/photos/undo.PNG" style="margin-top: 2px;">
</div>
<div class="display" >
     <div class="section display">
      <div class="font">  <i class="fas fa-paste "></i>
           <p>paste</p>
           <div class="display">
               <div>
                <i class="fas fa-cut "></i>
                <p  >move</p>
               </div>
               <div>
                <i class="fas fa-crop" style="margin-left: 15px;"></i>
                <p style="margin-left: 15px;"  >resize</p>
                <div class="section7" style="margin-top: 30px;">
                   
                </div>
               </div>
               
           </div>
         
         </div>
     <div class="font"> <i class="fas fa-copy "></i>
        <p>copy</p>
      
    </div>
       
        <div class="section4" >

        </div>
     </div>
    
     
     <div class="section2">
        <div class="section3 display">
         <div ><i class="fas fa-eraser fa-2x" style="color:orange; margin-top: 5px;" ></i>
         <p>Delete</p>
         <p style="margin-top: 35px; margin-left: 25px;" >Tools</p>
         
       </div>
          <div> <i class="fas fa-pen fa-2x" style="color:orange; margin-top: 5px; margin-left: 15px;" ></i>
          <p style="margin-left: 12px;">Pen</p>
          
       </div>
       <div class="section5" style="margin-left: 20px;">

       </div>
         <div class="display">
             <div >
                 <img src="assets/photos/square.PNG" style="margin-top:18px;">
                
                  <div>
                    <img src="assets/photos/line2.PNG" style="margin-top:15px ; margin-left: 3px;">
                  </div>
           </div>
             <div> <img src="assets/photos/rectangle.PNG" style="margin-top:18px ; margin-left: 8px;">
                <div>
                    <img src="assets/photos/ellipse.PNG" style="margin-top:15px ; margin-left: 8px;">

                    <div>
                        <P>Shapes</P>
                    </div>
                  </div>
               
            </div>
            <div> <img src="assets/photos/triangle2.PNG" style="margin-top:17px ; ">
                <div>
                    <img src="assets/photos/ellipse.PNG" style="margin-top:11px ;">
                  
                  </div>
            </div>
         </div>
         
         <div class="section5 " style="margin-left: 10px;">
          
        </div>
        <div class="display">
            <div class="section9">
                    <div class="section14">
                        <div class="section27">
              
                        </div>
                    </div>
               
            </div>
            <div class="section8">
                <div class="section15">
                    <div class="section28">
              
                    </div>
                </div>
            </div>
            <div class="section10">
                <div class="section20">
                    <div class="section29">
              
                    </div>
                </div>
            </div>
            <div class="section11">
                <div class="section21">
                    <div class="section30">
              
                    </div>
                </div>
            </div>
            <div class="section12">
                <div class="section21">
                    <div class="section31">
              
                    </div>
                </div>
            </div>
            <div class="section13">
                <div class="section22">
                    <div class="section32">
              
                    </div>
                </div>
            </div>
            <div class="section16">
                <div class="section23">
                    <div class="section33">
              
                    </div>
                </div>
            </div>
            <div class="section17">
                <div class="section24">
                    <div class="section34">
              
                    </div>
                </div>
            </div>
            <div class="section18">
                <div class="section25">
                    <div class="section35">
              
                    </div>
                </div> 
            </div>
            <div class="section19">
                <div class="section26">
                    <div class="section36">
              
                    </div>
                </div>
            </div>
          
            <div>
                <img src="assets/photos/colors.PNG" style="margin-top:20px ; margin-left: 20px;">
                <P style="margin-left: 10px;">Edit color</P>
            </div>
            <div class="section5 " style="margin-left: 20px;">
          
            </div>
        
        </div>
    </div>
 
    
    
</div>



